@import 'shared/all.scss';

.rootLayout {
  overflow-x: hidden;
  max-width: 100vw;
  margin-top: $headerHeight;
}

.content {
  width: 100%;
  display: flex;
  transition: all linear 0.2s;
  min-height: $contentHeight;
}

.footer {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: $footerHeight;
}