$error: #e22424;

// height
$headerHeight: 80px;
$footerHeight: 70px;
$contentHeight: calc(100vh - $headerHeight - $footerHeight);

// width
$siderMinWidth: 80px;
$siderMaxWidth: 250px;

$contentMinWidth: calc(100vw - $siderMinWidth);
$contentMaxWidth: calc(100vw - $siderMaxWidth);