@import 'shared/all.scss';

$fontSize: calc(7vmin + 20px);

.title {
  font-size: $fontSize;
  line-height: 1.2;
  &.main {
    color: $main;
  }
}

.titleContainer {
  display: flex;
  align-items: flex-end;
}

.line {
  width: 2px;
  height: $fontSize !important;
  margin-left: 5px;
}