@import 'shared/all.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

.container {
  max-width: clamp(300px, 90vw, 1240px);
  margin: 0 auto;
  width: 100%;
}

body {
  color: $dark;
  background: $white;
  
  .dark {
    color: $white;
    background: $dark;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}