@import 'shared/all.scss';

.wrapper {
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.formContainer {
  padding: 1rem 1.5rem;
  border-radius: 10px;
  background: white;
  @include flexCol();
}

.form {
  @include flexCol();
  padding: 0 1rem;
  width: clamp(300px, 90vw, 450px);

  &Btn {
    align-self: flex-end;
  }
}

.error {
  color: $error;
}