@import "shared/all.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  height: $headerHeight;
  
  &Body {
    height: 100%;
    display: flex;
    justify-content: space-between
  }
}

.navLink {
  margin: auto 0;
  transition: all linear 0.15s;
  font-size: 18px;
  &:hover {
    color: $main;
  }

  @include for-tablet {
    display: none;
  }
}

.buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: auto 0;
}
.flex {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.search {
  display: block;
  @include for-tablet {
    display: none;
  }
}
.drawerButton {
  display: none;
  @include for-tablet {
    display: block;
  }
}