@import "shared/all.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  height: $headerHeight;
  
  &Body {
    height: 100%;
    display: flex;
    justify-content: space-between
  }
}

.buttonsContainer {
  display: flex;
  gap: 2rem;
  margin: auto 0;
}
